<html>

  <head>
    <meta charset="utf-8">
    <title>Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <style>
    #comment-list {
      padding: 0;
      margin: 0;
      height: 55vh;
      overflow-y: scroll;
    }
    .comment {
      padding: 15px;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
    }

    .author-email {
      font-weight: bold;
    }

    .comment-box {
      padding-right: 10px;
      padding-top: 35px;
      margin-bottom: 30px;
    }
    /* HIDES THE SCROLLBAR*/
    ::-webkit-scrollbar {
        display: none;
    }

    .child-comment-list {
      list-style-type: none;
    }

    .child-comment {
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
    }

    .reply-author_email {
      font-weight: bold;
    }

    .reply-form {
      display: none;
    }


    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ABC Guide</a>
        </div>

      </div>
      <!-- /.container-fluid -->
    </nav>

    <div class="page-content">
      <!-- LEFTSIDE -->
      <div class="leftside col-sm-8">
        <h1>Page Details</h1>
        <h3>Title</h3>
        <%=@page.title%>
        <h3>Body</h3>
        <%=@page.body%>
        <br>
        <a href="/pages">Go Back</a>
      </div>
      <!-- RIGHT SIDE -->
      <div class="col-sm-4 container comment-side-panel">
        <ul id="comment-list">
          <% @comments.each do |comment| %>
            <li class="comment">
                <div class="author-email">
                  <%= comment.author_email %>
                </div>
                <div class="comment-body">
                  <%= comment.body %>
                </div>
                <a class="reply">Reply</a>
                <form class="reply-form">
                  <div class="form-group">
                      <textarea
                       class="form-control"
                       placeholder="Add Reply"></textarea>
                  </div>
                  <button
                    class="btn btn-default btn-xs reply-submit-btn"
                    data-author=<%='USERNAME'%>
                    data-comment_id=<%=comment.id%>
                    >Submit</button>
                  <button class='btn btn-default btn-xs reply-cancel-btn'>
                    Cancel
                  </button>
                </form>
              </form>
              <ul class="child-comment-list">
                <% comment.child_comments.each do |child_comment| %>
                  <li class="child-comment">
                    <div class="reply-author_email">
                      <%= child_comment.author_email %>
                    </div>
                    <div class="reply-body">
                      <%= child_comment.body %>
                    </div>
                  </li>
                <% end %>
              </ul>
          </li> <!-- COMMENT -->

        <% end %>
      </ul>
      <div class="comment-box">
        <form>
          <div class="form-group">
            <label>Comment</label>
              <textarea
               id="comment-input"
               class="form-control"
               placeholder="Add Comment"></textarea>
          </div>

          <button
            id="submit-form"
            class="btn btn-default"
            data-author=<%='USERNAME'%>
            data-page_id=<%=@page.id%>
            >Submit</button>
        </form>
      </div>

    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

  <script>

    // ONCE PAGE LOADS ADD LISTENER TO ALL REPLY LINKS TO TOGGLE SUBMIT FORM
    $('.reply').each(function (index) {
      // const parent_comment_id = $(this).attr('data-comment_id')
      $(this).click(function () {
        $(this).next().toggle()
      })
    })

    // ALLOW USER TO CANCEL A REPLY
    $('.reply-cancel-btn').click(function(e) {
       e.preventDefault()
       $(this).parent().hide()
    })

    // SUBMIT COMMENT FOR PAGE
    $('#submit-form').click(function () {
       commentData = {
         comment: {
           author_email: $('#submit-form').attr('data-author'),
           body: $('#comment-input').val(),
           page_id: $('#submit-form').attr('data-page_id')
         }
       }
      $.post("/comments", commentData);
    })


  </script>

</body>

</html>
